/* Sección de productos: título y descripción */
.product-text {
    background-color:  #005c8f;
    margin-bottom: 20px;
}

.product-text h1{
    color: white;
    margin-left: 10px;
}

.product-text p{
    color: white;
    margin-left: 10px;
}

/* Diseño de la sección de tarjetas */
.image-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

/* Botones finales: Descargar y Ver Catálogo */
.button-section {
    text-align: center;
    margin-top: 40px;
}

.btn-large {
    background-color: #fa0000;
    color: white;
    border: none;
    padding: 14px 28px;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 15px;
    transition: all 0.3s ease;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(255, 107, 53, 0.25);
}

.btn-large:hover {
    background-color: #fe0000;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 107, 53, 0.35);
}
